@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Syne&display=swap');

* {
    font-family: 'Syne', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    background-color: black;
}